body {
    padding-top: 70px;
    font-family: 'Open Sans', sans-serif;
    background-color: #2F2F2F;
    font-weight: 400;
}

h1, h2, h3, h4, h5 {
    font-weight: 300;
}

.required {
    color: #DA4F49;
}