{% extends "admin/base.html" %}
{% import "ui/components.html" as components %}
{% import "ui/forms.html" as forms %}
{% from 'ui/page.html' import render_pagination %}

{% block admin_page %}
<div class="card mb-3">
  <div class="card-header">
    <h6 class="card-title mb-0">{{ _("Log Details") }}</h6>
  </div>
  <div class="card-body p-0">
    <table class="table align-middle mb-0">
      <tbody>
        <tr>
          <td class="table-info compact fw-bold">
            {{ _("Internal ID") }}
          </td>
          <td><code>{{ log.id }}</code></td>
        </tr>
        <tr>
          <td class="table-info compact fw-bold">
            {{ _("Severity") }}
          </td>
          <td class="table-{{ components.log_to_suffix(log) }}">
            <code>{{ log.severity.name }}</code>
          </td>
        </tr>
        <tr>
          <td class="table-info compact fw-bold">
            {{ _("Created") }}
          </td>
          <td>
            {{ log.created }}
          </td>
        </tr>
        <tr>
          <td class="table-info compact fw-bold">
            {{ _("Summary") }}
          </td>
          <td>
              <code>
                {{ _(log.summary, **log.payload) }}
              </code>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card mb-3">
  <div class="card-header">
    <h6 class="card-title mb-0">{{ _("Log Payload") }}</h6>
  </div>
  <div class="card-body">
    <code>
    {{ pretty_payload }}
    </code>
  </div>
</div>

{% if log.trace %}
<div class="card mb-3">
  <div class="card-header">
    <h6 class="card-title mb-0">{{ _("Log Trace") }}</h6>
  </div>
  <div class="card-body pb-0">
    <pre><code>{{ log.trace }}</code></pre>
  </div>
</div>
{% endif %}

<div class="card mb-3">
  <div class="card-header">
    <h6 class="card-title mb-0">{{ _("Log Context") }}</h6>
    <small class="card-subtitle text-muted">
      {{ _("Internal IDs related to this error.") }}
    </small>
  </div>
  <div class="card-body p-0">
    {% if not log.related.count() %}
    <div class="alert alert-info mb-0">
      {{ _("No context available for this event.") }}
    </div>
    {% else %}
    <table class="table align-middle mb-0">
      <thead>
        <tr>
          <th class="compact">{{ _("What") }}</th>
          <th>{{ _("Value") }}</th>
          <th class="compact text-center">{{ _("ID") }}</th>
        </tr>
      </thead>
      <tbody>
        {% for related in log.related %}
        {% set obj = get_related(related) %}
        <tr>
          <td class="compact table-info">{{ related.context_type.name }}</td>
          <td>
            {% if obj is none %}
            <span class="text-danger">{{ _("Object no longer exists.") }}</span>
            {% elif related.context_type.name == "USER" %}
            <a href="{{ obj.admin_edit_url }}">{{ obj.username }}</a>
            {% elif related.context_type.name == "SOURCE_IMPL" %}
            <a href="{{ obj.admin_edit_url }}">{{ obj.impl.SOURCE_NAME }}</a>
            {% elif related.context_type.name == "PROJECT" %}
            <a href="{{ obj.details_url }}">{{ obj.name }}</a>
            {% endif %}
          </td>
          <td class="compact text-center">
            <code>{{ related.context_id }}</code>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>
{% endblock %}
