{% extends "layouts/main.html" %}

{% block content_page %}
<div class="ex-header mb-3">
  <div class="container">
    <h1>{{ _("Projects") }}</h1>
  </div>
</div>

<div class="container">
  <p>
  {% trans %}
  A project is a collection of webhooks and channels that will be linked
  together. A single project can handle any number of services (such as
  Github and JIRA) going to any number of destinations.
  {% endtrans %}
  </p>

  <a class="btn btn-success text-decoration-none mb-3" href="{{ url_for("projects.new") }}">
    <i class="fas fa-plus"></i>
    {{ _("Add a new project") }}
  </a>

  <div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
    {% for project in projects %}
    <div class="col">
      <div class="card h-100 {{ "border-success" if project.health else "border-warning" }}" >
        <div class="card-body">
          <h5 class="card-title d-flex justify-content-between">
            <a href="{{ project.details_url }}">
              {{ project.name|truncate(18, True) }}
            </a>
        <div class="btn-group">
          <a href="{{ project.edit_url }}" class="btn btn-sm btn-outline-secondary">
            {{ _("Edit") }}
          </a>
          <a href="{{ project.delete_url }}" class="btn btn-sm btn-outline-secondary">
            {{ _("Delete") }}
          </a>
        </div>
          </h5>
        </div>
        <div class="card-footer">
          {% if project.last_message_received %}
          Last used {{ project.last_message_received|pretty_date }}
          {% else %}
          <small class="text-muted">
            {{ _("No messages received.") }}
          </small>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
