{% extends "base/body.html" %}
{% import "forms.html" as forms %}
{% block content %}
<div class="page-main-header">
    <div class="container">
        <h1>Delete Hook</h1>
    </div>
</div>
<div class="container page-content">
    <div class="row-fluid">
        <div class="span12 well">
            <form class="form form-horizontal" method='POST' action="{{ request.url }}">
                <p>Are you sure you want to delete this hook? You will not be able to create one with the same URL, and will have to reconfigure any services.</p>
                <div class="form-actions">
                    <button type="submit" class="btn btn-danger" value='d' name='do'>Delete Hook</button>
                    <a href="{{ url_for('.details', u=g.user.username, p=project.name) }}" class="btn btn-success">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}