{% extends "layouts/main.html" %}
{% import "ui/forms.html" as forms %}
{% import "ui/components.html" as components %}

{% block content_page %}
{% call components.page_header(breadcrumbs) %}
  {{ _("Edit Project") }}
{% endcall %}

<div class="container">
  <div class="section-content">
    <form class="form form-horizontal" method='POST' action="{{ request.url }}">
      {{ form.hidden_tag() }}
      {{ forms.render_field(form.name) }}
      {{ forms.render_field(form.website ) }}
      {{ forms.render_field(form.public) }}
      <div class="form-actions">
        <button type="submit" class="btn btn-success">{{ _("Save Changes") }}</button>
        <a href="{{ url_for('.details', u=g.user.username, p=project.name) }}" class="btn btn-secondary">
          {{ _("Cancel") }}
        </a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
