{% extends "base/body.html" %}
{% import "forms.html" as forms %}
{% block content %}
<div class="container page-content">
  <div class="row-fluid">
    <section>
      <header>
        <h2>New Project</h2>
      </header>
      <div class="section-content">
        <form class="form form-horizontal" method='POST' action="{{ request.url }}">
          {{ form.hidden_tag() }}
          {{ forms.render_field(form.name) }}
          {{ forms.render_field(form.website ) }}
          {{ forms.render_field(form.public) }}
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Create Project</button>
            <a href="{{ url_for('.dashboard', u=g.user.username) }}" class="btn">Cancel</a>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>
{% endblock %}