{% extends "layouts/main.html" %}
{% import "ui/forms.html" as forms %}

{% block content_page %}
<div class="ex-header mb-3">
  <div class="container">
    <h1>{{ _("New Project") }}</h1>
  </div>
</div>

<div class="container">
  <div class="section-content">
    <form method="POST" action="{{ request.url }}">
      {{ form.hidden_tag() }}
      {{ forms.render_field(form.name) }}
      {{ forms.render_field(form.website ) }}
      {{ forms.render_field(form.public) }}
      <button type="submit" class="btn btn-primary">
        {{ _("Create Project") }}
      </button>
      <a href="{{ url_for('.dashboard', u=g.user.username) }}" class="btn btn-secondary">
        {{ _("Cancel") }}
      </a>
    </form>
  </div>
</div>
{% endblock %}
