{% extends "base/body.html" %}
{% import "forms.html" as forms %}
{% block content %}
<div class="row-fluid">
    <div class="span12 well">
        <form class="form form-horizontal" method='POST' action="{{ request.url }}">
            <legend>Add New Channel</legend>
            {{ form.hidden_tag() }}
            {{ forms.render_field(form.channel) }}
            {{ forms.render_field(form.host) }}
            {{ forms.render_field(form.port) }}
            {{ forms.render_field(form.ssl) }}
            {{ forms.render_field(form.public) }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Add Channel</button>
                <a href="{{ url_for('.details', pid=project.id) }}" class="btn">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}