{% extends "base/body.html" %}
{% import "forms.html" as forms %}

{% macro row(project) %}
    <tr>
        <td>
            {% if not project.public %}
                <i class="icon-lock"></i>
            {% else %}
                <i class="icon-unlock"></i>    
            {% endif %}
            <a href="{{ url_for('.details', p=project.name, u=user.username) }}">{{ project.full_name }}</a>
        </td>
        <td style="text-align: center;">{{ project.message_count }}</td>
        <td style="text-align: center;">
            {% if is_owner %}
            {{ project.channels.count() }}
            {% else %}
            {{ project.channels.filter_by(public=True).count() }}
            {% endif %}
        </td>
        <td style="text-align: center;">{{ project.hooks.count() }}</td>
        {% if is_owner %}
        <td>
            <div class="pull-right">
                <a class="btn btn-danger" href="{{ url_for('.delete_project', u=user.username, p=project.name) }}"><i class="icon-trash icon-white"></i> Delete</a>
            </div>
        </td>
        {% endif %}
    </tr>
{% endmacro %}

{% block content %}
<div class="page-main-header">
    <div class="container">
        <h1>{{ user.username }}</h1>
    </div>
</div>
{% if is_owner %}
<div class="page-main-actions">
    <div class="container">
        <ul class="nav nav-pills">
            <li><a href="{{ url_for('.new') }}">New Project</a></li>
            <li><a href="{{ url_for('pimport.github') }}">Import From Github</a></li>
        </ul>
    </div>
</div>
{% endif %}
{{ alerts() }}
<div class="container page-content">
    <div class="row-fluid">
        <div class="span12">
            <table class="table table-hover table-square table-vertical">
                <thead>
                    <tr>
                        <th>Project</th>
                        <th style="text-align: center;">Messages</th>
                        <th style="text-align: center;">Channels</th>
                        <th style="text-align: center;">Hooks</th>
                        {% if is_owner %}
                        <th></th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for project in user.public_projects %}
                    {{ row(project) }}
                    {% endfor %}
                    {% if is_owner %}
                        {% for project in user.private_projects %}
                        {{ row(project) }}
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}