{% extends "layouts/main.html" %}
{% import "ui/forms.html" as forms %}

{% block content_page %}
<div class="ex-header">
  <div class="container">
    <h1>{{ project.owner.username }}/{{ project.name }}</h1>
  </div>
</div>

<div class="container p-3">
  <h2>{{ _("Providers") }}</h2>
  <p>
    {% trans %}
    Providers are the sources of messages for your project.
    {% endtrans %}
  </p>
  <a class="btn btn-success text-decoration-none mb-3" href="#">
    <i class="fas fa-plus"></i>
    {{ _("Add a new provider") }}
  </a>
</div>

<div class="zebra-section">
  <div class="container p-3">
    <h2>{{ _("Channels") }}</h2>
    <p>
      {% trans %}
      Channels are the destinations for your project's messages. They can be
      IRC channels, Discord channels, and more.
      {% endtrans %}
    </p>
    <a class="btn btn-success text-decoration-none mb-3" href="#">
      <i class="fas fa-plus"></i>
      {{ _("Add a new channel") }}
    </a>
  </div>
</div>

<div class="container p-3">
  <h2>{{ _("Logs") }}</h2>
  <p>
    {% trans %}
    See everything that has happened recently with your project.
    {% endtrans %}
  </p>
  <small class="text-info">{{ _("Nothing has happened yet.") }}</small>
</div>

{#
<h2>{{ _("Channels") }}</h2>
<p>
  {% trans %}
  Any messages received by this project will be forwarded to all of the
  channels that have been added to it.
  {% endtrans %}
</p>
<a class="btn btn-success text-decoration-none mb-3" href="{{ project.new_channel_url }}">
  <i class="fas fa-plus"></i>
  {{ _("Add a new channel") }}
</a>
<div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
  {% for channel in project.channels %}
  <div class="col">
    <div class="card h-100">
      <div class="card-header">
        <i class="fas fa-comment-alt"></i> IRC
      </div>
      <div class="card-body">
        <h5 class="card-title d-flex justify-content-between">
          <span>
            {{ channel.channel|truncate(18, True) }}
          </span>
          <div class="btn-group">
            <a href="{{ channel.delete_url }}" class="btn btn-sm btn-outline-secondary">
              {{ _("Delete") }}
            </a>
          </div>
        </h5>
        <div class="card-text">
          {{ channel.channel }}@{{ channel.host }}:{{ channel.port }}.
        </div>
      </div>
      <div class="card-footer">
        <small class="text-muted">
          {{ _("No messages sent.") }}
        </small>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
#}
{% endblock %}
