{% macro render_field(field) %}
  <div class="mb-3">
    {% if field.type == "BooleanField" %}
      <div class="form-check">
        {{ field(class_='form-check-input ' + ('is-invalid' if field.errors else ''), **kwargs)|safe }}
        <label for="{{ field.id }}" class="form-check-label">
          {{ field.label.text }}
          {%- if field.flags.required -%}
            <span class="required text-danger">*</span>
          {% endif %}
        </label>
        {% for error in field.errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
        {% endfor %}
      </div>
    {% else %}
      <label for="{{ field.id }}" class="form-label">
        {{ field.label.text }}
        {%- if field.flags.required -%}
          <span class="required text-danger">*</span>
        {% endif %}
      </label>
      {{ field(class_='form-control ' + ('is-invalid' if field.errors else ''), **kwargs)|safe }}
      {% for error in field.errors %}
        <div class="invalid-feedback">
          {{ error }}
        </div>
      {% endfor %}
    {% endif %}
    <div class="text-muted small pt-2">
      {{ field.description|safe }}
    </div>
  </div>
{% endmacro %}