@import "mixins.less";

html, body {
  //background-color: #f6f6f6;
  background-color: white;
  height: 100%;
}

html, body, p {
  font-family: 'Open Sans', sans-serif;
}

.table-vertical td {
  vertical-align: middle;
  border-top: none;
}

.btn,
.alert,
.square,
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  .border-radius(0px);
}

form {
  .form-actions {
    background: transparent;
  }

  .required {
    color: red;
  }
}

.table-square {
  border: 1px solid #ddd;
}

[class^="icon-"] {
  margin-top: 3px;
}

.btn-mini {
  [class^="icon-"] {
    margin-top: 1px;
  }
}

// Overview page elements
.project {
  margin-bottom: 12px;
  border-bottom: 1px dashed #f9f9f9;
  padding-top: 4px;
  padding-bottom: 4px;

  .name {
    font-size: 16px;
  }
}

ul.inline,
ol.inline {
  margin-left: 0;
  list-style: none;
}

ul.inline > li,
ol.inline > li {
  display: inline-block;
  *display: inline;
  padding-right: 5px;
  *zoom: 1;
}


// Core page layout

.wrapper {
  min-height: 100%;
  position: relative;
  overflow: auto;
}

.nav-container {
  @nav_background: white;
  @nav_text_color: black;

  #gradient > .vertical(@nav_background, @nav_background);
  //border-bottom: 2px solid black;

  .nav-top {
    margin-bottom: 0;
    padding: 10px 20px 0 20px;

    .navbar-inner {
      .border-radius(0);
      border: none;
      border-bottom: 2px solid black;
      #gradient > .vertical(@nav_background, @nav_background);
      .box-shadow(none);
      padding-left: 0px;
      padding-right: 0px;

      .brand {
        text-shadow: none;
        color: @nav_text_color;
        font-weight: 600;
      }

      .nav {
        li,
        .active > li {
          a {
            text-shadow: none;
            color: @nav_text_color;
            background-color: @nav_background;
            .box-shadow(none);
          }

          .dropdown-menu {
            .border-radius(0);
          }
        }

        .active > li > a {
          text-decoration: underline;
        }
      }
    }
  }
}

.content {
  @sidebar_background: white;
  @content_background: white;

  padding-bottom: 20px;
  padding-top: 20px;

  .content_main {
    background-color: @sidebar_background;

    .content_sidebar {

    }

    .content_page {
      background-color: @content_background;

      // Fix the padding
      .contents {
        padding: 0 20px 12px 20px;
      }

      h1, h2, h3, h4, h5 {
        text-transform: uppercase;
        padding-bottom: 10px;
        margin-bottom: 20px;
        border-bottom: 2px solid #EEE;
      }

    }
  }
}

.footer {
  position: relative;
  margin-top: -48px;
  clear: both;

  padding-top: 10px;
  font-size: 75%;

  .footer-copyright {
    border-top: solid #EEE 2px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}