{% extends "layouts/main.html" %}

{% block content_page %}
  <div class="py-3">
    <h1 class="display-5 fw-bold">
      {{ _('Projects') }}
    </h1>
    <div>
      {% if not projects.count() %}
        <p class="pt-3">
          {{ _("You don't have any projects yet. Lets get started.") }}
        </p>
      {% endif %}
      <div class="py-3">
        <a href="{{ url_for('.new') }}" class="btn btn-primary btn-lg">
          {{ _("New Project") }}
        </a>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
    {% for project in projects %}
      <div class="col">
        <div class="card h-100">
          <div class="card-header">
            <a class="stretched-link"
               href="{{ url_for('projects.details', u=project.owner.username, p=project.name) }}">
              {{ project.name|truncate(35) }}
            </a>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              {% if not project.hooks.count() %}
                <span class="text-muted small">
                  {{ _("No webhooks added yet.") }}
                </span>
              {% else %}
                {% for hook_type in project.hooks|groupby('service_id') %}
                  <span class="badge text-bg-info">
                    {{ hook_type[0]|service_name }}
                  </span>
                {% endfor %}
              {% endif %}
            </li>
            <li class="list-group-item">
              {% if not project.channels.count() %}
                <span class="text-muted small">
                  {{ _("No channels added yet.") }}
                </span>
              {% else %}
                {% for channel in project.channels %}
                  <span class="badge text-bg-info">
                    {{ channel.channel|truncate(15) }}
                  </span>
                {% endfor %}
              {% endif %}
            </li>
          </ul>
          <div class="card-footer text-muted">
            Created {{ project.created|pretty_date }}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}