{% extends "layouts/main.html" %}
{% import "ui/components.html" as components %}

{% block content_page %}
{% call components.page_header(breadcrumbs) %}
  {{ _("Projects") }}
{% endcall %}

<div class="container">
  <p>
  {% trans %}
  A project is a collection of webhooks and channels that will be linked
  together. A single project can handle any number of services (such as
  Github and JIRA) going to any number of destinations.
  {% endtrans %}
  </p>

  <a class="btn btn-success text-decoration-none mb-3" href="{{ url_for("projects.new") }}">
    <i class="fas fa-plus"></i>
    {{ _("Add a new project") }}
  </a>

  <div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
    {% for project in projects %}
    <div class="col">
      <div class="card h-100">
        {% if project.health >= 1 %}
        <div class="health-card health-good"
          title="{{ _("Project is healthy.") }}"></div>
        {% elif project.health < 10 %}
        <div class="health-card health-warn"
          title="{{ _("Project has occasional failures") }}"></div>
        {% else %}
        <div class="health-card health-bad"
          title="{{ _("Project is failing.") }}"></div>
        {% endif %}
        <a class="card-header-link" href="{{ project.details_url }}">
          <div class="card-header">
            <h2 class="card-title text-truncate">
              <i class="fas fa-chevron-right"></i>
              {{ project.name }}
            </h2>
          </div>
        </a>
        <ul class="list-group list-group-flush border-0">
          <li class="list-group-item text-muted">
            <i class="fas fa-calendar"></i>&nbsp;
            {{ _("Created %(date)s", date=project.created|pretty_date) }}
          </li>
          <li class="list-group-item text-muted">
            <i class="fas fa-link"></i>&nbsp;
            {{ _("%(count)s providers", count=project.providers.count()) }}
          </li>
          <li class="list-group-item text-muted">
            <i class="fas fa-envelope"></i>&nbsp;
            {{ _("%(count)s events received", count=project.message_count) }}
          </li>
        </ul>
        <div class="card-footer">
          <a href="{{ project.edit_url }}" class="card-link">
            {{ _("Edit") }}
          </a>
          <a href="{{ project.delete_url }}" class="card-link">
            {{ _("Delete") }}
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
