{% extends "projects/project_base.html" %}
{% import "ui/forms.html" as forms %}

{% block main_content %}
  <div class="card mt-4">
    <div class="card-body">
      <h5 class="card-title border-bottom border-1 pb-2 mb-2">
        {{ _('Delete Channel') }}
      </h5>
      <div class="card-text">
        <form class="form form-horizontal" method="POST">
          <p>
            {% trans %}
              Are you sure you want to remove this channel? If you change your mind,
              you can always re-add it later.
            {% endtrans %}
          </p>
          <div class="form-actions">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <button type="submit" class="btn btn-danger" value="d" name="do">
              {{ _('Remove Channel') }}
            </button>
            <a href="{{ url_for('.details', u=g.user.username, p=project.name) }}" class="btn btn-success">
              {{ _('Cancel') }}
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}