{% extends "layouts/main.html" %}
{% import "ui/forms.html" as forms %}
{% import "ui/components.html" as components %}

{% block content_page %}
{% call components.page_header() %}
<a class="text-decoration-none" href="{{ project.owner.dashboard_url }}">
{{ project.owner.username }}</a>/{{ project.name }}
{% endcall %}

<div class="container">
  <h2>{{ _("Sources") }}</h2>
  <p>
    {% trans %}
    Sources generate messages and events for your project.
    {% endtrans %}
  </p>
  <a class="btn btn-success text-decoration-none mb-3" href="{{ project.choose_source_url }}">
    <i class="fas fa-plus"></i>
    {{ _("Add a new source") }}
  </a>
  <div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
    {% for source in project.sources %}
    {% set icon = source.impl.icon() %}
    {% set name = source.impl.SOURCE_NAME %}
    <div class="col">
      <div class="card h-100">
        {% if source.health >= 1 %}
        <div class="health-card health-good"
          title="{{ _("Source is healthy.") }}"></div>
        {% elif source.health < 10 %}
        <div class="health-card health-warn"
          title="{{ _("Source is occasionally failing") }}"></div>
        {% else %}
        <div class="health-card health-bad"
          title="{{ _("Source is failing.") }}"></div>
        {% endif %}
        <a class="card-header-link h-100" href="{{ source.edit_url }}">
          <div class="card-header h-100">
            <h5 class="card-title">
              {% if icon %}<i class="{{ icon }} fa-fw" title="{{ name }}"></i>&nbsp;{% endif -%}
              {{ name }}
            </h5>
            {% if source.description %}
            <small class="card-subtitle text-muted">
              {{ source.description }}
            </small>
            {% endif %}
          </div>
        </a>
        <ul class="list-group list-group-flush h-100 border-top-0">
          <li class="list-group-item text-muted">
            <i class="fas fa-calendar fa-fw"></i>&nbsp;
            {{ _("Created %(date)s", date=source.created|pretty_date) }}
          </li>
          <li class="list-group-item text-muted">
            <i class="fas fa-envelope fa-fw"></i>&nbsp;
            {% if source.events_received %}
            {{ _("%(count)s events.", count=source.events_received) }}
            {% else %}
            {{ _("No events recieved yet.") }}
            {% endif %}
          </li>
        </ul>
        <div class="card-footer">
          <a class="card-link" href="{{ source.delete_url }}">
            {{ _("Delete") }}
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="container py-3">
  <h2>{{ _("Channels") }}</h2>
  <p>
    {% trans %}
    Channels are the destinations for your project's messages. They can be
    IRC channels, Discord channels, and more.
    {% endtrans %}
  </p>
  <a class="btn btn-success text-decoration-none mb-3" href="#">
    <i class="fas fa-plus"></i>
    {{ _("Add a new channel") }}
  </a>
</div>
{% endblock %}
