{% extends "projects/project_base.html" %}
{% import "ui/forms.html" as forms %}

{% block main_content %}
  {% if common_channels %}
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-2 g-3">
      {% for channel in common_channels %}
        <div class="col">
          <div class="card p-2 text-center">
            <strong>{{ channel.channel }}</strong>
            <div class="text-muted pb-2">
              {{ channel.network.host }}
            </div>
            <form method="POST">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              <input type="hidden" name="channel-id" value="{{ channel.id }}" />
              <button type="submit" name="action" value="quick-add"
                      class="btn btn-secondary btn-sm w-100">
                {{ _('Quick Add') }}
              </button>
            </form>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
  <div class="card mt-4">
    <form method="POST">
      <div class="card-header">
        {{ _('New IRC Channel') }}
      </div>
      <div class="card-body">
        <div class="card-text">
          {{ form.hidden_tag() }}
          {{ forms.render_field(form.channel) }}
          {{ forms.render_field(form.password) }}
          {{ forms.render_field(form.public) }}
          {{ forms.render_field(form.network) }}
          {% trans new_network=url_for('settings.irc') %}
            Don't see your network? <a href="{{ new_network }}">Add a new one</a> under
            your account settings.
          {% endtrans %}
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary">
          {{ _('Save') }}
        </button>
        <a class="btn btn-warning"
           href="{{ url_for('.details', u=g.user.username, p=project.name) }}">
            {{ _('Cancel') }}</a>
      </div>
    </form>
  </div>
{% endblock %}