{% extends "projects/project_base.html" %}
{% import "ui/forms.html" as forms %}

{% block style %}
{{ super() }}
<link href="/css/prettify.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block script %}
{{ super() }}
<script type="text/javascript" src="/js/prettify.js"></script>
<script type="text/javascript">
  prettyPrint();
</script>
{% endblock %}

{% block sidebar %}
  {{ super() }}
  {% if action == 'new' %}
    <div class="pb-4">
      {{ _('Available Services') }}
    </div>
    <ul class="list-group">
      {% for s in services.values() %}
        <a class="list-group-item {% if s.SERVICE_ID == service.SERVICE_ID %}active{% endif %}"
          href="{{ url_for('.new_hook', u=g.user.username, p=project.name, sid=s.SERVICE_ID) }}">
          {{ s.SERVICE_NAME }}
        </a>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}

{% block main_content %}
  <div class="card mt-4">
    <form method="POST">
      <div class="card-header">
        {{ _('New Hook') if action == 'new' else _('Edit Hook') }}
        <span class="text-accent1">/</span>
        {{ service.SERVICE_NAME }}
      </div>
      {% if action == 'edit' and hook %}
        <div class="alert alert-info">
          <div class="pb-2">
            {% trans %}
              Here's your configured webhook URL.
            {% endtrans %}
          </div>
          <label class="visually-hidden" for="webhook">{{ _('Webhook URL') }}</label>
          <input
            id="webhook"
            class="w-100"
            readonly
            value="{{ hook.url(hook.Page.TRIGGER, _external=True) }}" />
        </div>
      {% endif %}
      <div class="card-body">
        <div class="card-text">
          {% set service_description = service.service_description() %}
          {% if service_description %}
            <div class="pb-4 pt-1">
              {{ service_description|safe }}
            </div>
          {% endif %}
          {% if form %}
            {{ form.hidden_tag() }}
            {% for field in form %}
              {% if field.id != 'csrf_token' %}
                {{ forms.render_field(field) }}
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary">
          {{ _('Save') }}</button>
        <a class="btn btn-warning"
           href="{{ url_for('.details', u=g.user.username, p=project.name) }}">
          {{ _('Cancel') }}</a>
      </div>
    </form>
  </div>
{% endblock %}