{% extends "projects/project_base.html" %}
{% import "ui/forms.html" as forms %}

{% block main_content %}
  <div class="card mt-4">
    <form method="POST">
      <div class="card-header">
        {{ _('New IRC Channel') }}
      </div>
      <div class="card-body">
        <div class="card-text">
          {{ form.hidden_tag() }}
          {{ forms.render_field(form.channel) }}
          {{ forms.render_field(form.public) }}
          {{ forms.render_field(form.network) }}
          {% trans new_network=url_for('settings.irc') %}
            Don't see your network? <a href="{{ new_network }}">Add a new one</a> under
            your account settings.
          {% endtrans %}
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary">
          {{ _('Save') }}
        </button>
        <a class="btn btn-warning"
           href="{{ url_for('.details', u=g.user.username, p=project.name) }}">
            {{ _('Cancel') }}</a>
      </div>
    </form>
  </div>
{% endblock %}