{% extends "no_sidebar.html" %}
{% import "ui/forms.html" as forms %}

{% block content_page %}
  <h3>Change Password</h3>
  <div class="section-content">
    <form class="form form-horizontal" method="POST" action="{{ url_for('.settings', do='p') }}">
      {{ password_form.hidden_tag() }}
      {{ forms.render_field(password_form.old) }}
      {{ forms.render_field(password_form.password) }}
      {{ forms.render_field(password_form.confirm) }}
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Change Password</button>
      </div>
    </form>
  </div>

  <h3>Delete Account</h3>
  <div class="section-content">
    <form class="form form-horizontal" method="POST" action="{{ url_for('.settings', do='d') }}">
      <p>Deleting your account is irreversible. All projects, hooks, and bots under your account will be <strong>purged</strong>.</p>
      {{ delete_form.hidden_tag() }}
      {{ forms.render_field(delete_form.password) }}
      {{ forms.render_field(delete_form.confirm) }}
      <div class="form-actions">
        <button type="submit" class="btn btn-danger">Delete Account</button>
      </div>
    </form>
  </div>
{% endblock %}