{% extends "admin/base.html" %}
{% import "ui/components.html" as components %}
{% from 'ui/page.html' import render_pagination %}

{% block admin_page %}
<h2>{{ _("Delete Group") }}</h2>
<p>
{% trans name=group.name %}
Are you absolutely sure you want to do this? All members of the group
<strong>{{ name }}</strong> will be removed, and the group deleted.
{% endtrans %}
<form method="POST">
  <button name="delete-group" type="submit" class="btn btn-danger">
    {{ _("Delete Group") }}
  </button>
  <a class="btn btn-secondary" href="{{ url_for(".groups") }}">
    {{ _("Cancel") }}
  </a>
</form>
{% endblock %}
