{% extends "admin/base.html" %}
{% import "ui/components.html" as components %}
{% from 'ui/page.html' import render_pagination %}

{% macro group_table(entries) %}
<table class="table table-striped table-sm align-middle">
  <thead>
    <tr>
      <th>{{ _("Group") }}</th>
      <th class="text-center">{{ _("Users") }}</th>
      <th class="text-center">{{ _("Options") }}</th>
    </tr>
  </thead>
  <tbody>
    {% for group in entries %}
    <tr>
      <td>
        <strong>{{ group.name }}</strong>
        <em class="d-block text-muted">
          {{ _(group.description|default(_("N/A"))) }}
        </em>
      </td>
      <td class="compact text-center">
        {{ group.users.count() }}
      </td>
      <td class="compact px-3">
        <a class="btn btn-primary btn-sm" href="{{ group.edit_url }}">
          {{ _("Settings") }}
        </a>
        {% if group.deletable %}
        <a class="btn btn-danger btn-sm" href="{{ group.delete_url }}">
          {{ _("Delete") }}
        </a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endmacro %}

{% block admin_page %}
{% if page <= 1 %}
<h2>{{ _("Core Groups") }}</h2>
<p>
{% trans %}
Core groups are special groups that cannot be edited nor deleted. They are
used internally to provide default permissions for unregistered users,
newly registered users, etc.
{% endtrans %}
</p>
{% endif %}
{{ group_table(core_groups) }}
<h2>{{ _("Custom Groups") }}</h2>
<p>
{% trans %}
Custom groups are user-specified groups that can contain any mix of permissions
and limits you care to add.
{% endtrans %}
</p>
<a class="btn btn-success mb-3" href="{{ url_for('.groups_new') }}">
  {{ _("New Group") }}
</a>
{% if not user_groups.items %}
<div class="alert alert-info">
  {{ _("No custom groups exist yet.") }}
</div>
{% else %}
{{ group_table(user_groups.items) }}
{% endif %}

{{ render_pagination(user_groups, '.groups') }}
{% endblock %}
