{% extends "admin/base.html" %}
{% import "ui/components.html" as components %}
{% from 'ui/page.html' import render_pagination %}

{% macro group_table(entries) %}
<table class="table align-middle mb-0">
  <thead>
    <tr>
      <th>{{ _("Group") }}</th>
      <th class="text-center">{{ _("Users") }}</th>
      <th class="text-center">{{ _("Options") }}</th>
    </tr>
  </thead>
  <tbody>
    {% for group in entries %}
    <tr>
      <td>
        <strong>{{ group.name }}</strong>
        <em class="d-block text-muted">
          {{ _(group.description) }}
        </em>
      </td>
      <td class="compact text-center">
        <a href="{{ url_for(".users", group=group.id) }}">
          {{ group.users.count() }}
        </a>
      </td>
      <td class="compact px-3">
        <a class="btn btn-primary btn-sm" href="{{ group.edit_url }}">
          {{ _("Settings") }}
        </a>
        {% if group.deletable %}
        <a class="btn btn-danger btn-sm" href="{{ group.delete_url }}">
          {{ _("Delete") }}
        </a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endmacro %}

{% block admin_page %}
{% if page <= 1 %}
<div class="card c-card mb-3">
  <div class="card-header">
    <h6 class="card-title mb-0">{{ _("Core Groups") }}</h6>
  </div>
  <div class="card-body">
    <p>
    {% trans %}
    Core groups are special groups that cannot be edited nor deleted. They are
    used internally to provide default permissions for unregistered users,
    newly registered users, etc.
    {% endtrans %}
    </p>
  </div>
  <div class="card-body p-0">
    {{ group_table(core_groups) }}
  </div>
</div>
{% endif %}

<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h6 class="card-title mb-0">{{ _("Custom Groups") }}</h6>
    <a class="btn btn-success btn-sm" href="{{ url_for('.groups_new') }}">
      {{ _("Add Group") }}
    </a>
  </div>
  <div class="card-body">
    <p>
    {% trans %}
    Custom groups are user-specified groups that can contain any mix of permissions
    and limits you care to add.
    {% endtrans %}
    </p>
  </div>
  <div class="card-body p-0">
    {% if user_groups.items %}
    {{ group_table(user_groups.items) }}
    {% endif %}
  </div>
  <div class="card-footer">
    {{ render_pagination(user_groups, '.groups') }}
  </div>
</div>
{% endblock %}
