:root {
    --bg-body: #EDF2F9;
    /* Color used for the background of primary sections */
    --bg-segment: #FFFFFF;
    --bs-breadcrumb-divider: '>';
}

body {
    background-color: var(--bg-body);
}

.ex-header h1 {
    border-bottom: 3px solid #181c32;
}

.ex-header ol.breadcrumb {
    padding: 0.50em;
    background-color: var(--bg-segment);
    border: 1px solid #cad7e1;
}

.lead-container > main {
    max-width: 40em; /* Need a max width for margin: auto to center this */
}

/* health-good, -warn, and -bad are used for indicators of overall health on
 * providers, projects, and channels. */
.health-good,
.health-warn,
.health-bad {
    /* Make it large enough that it can be resonably hovered for title text. */
    padding-bottom: 5px;
}

.health-good { background-color: green; }
.health-warn { background-color: orange; }
.health-bad { background-color: red; }

.card,
.btn,
.alert {
    border-radius: 0;
}

.card .list-group-item {
    background-color: transparent;
}

.card-header {
    background: transparent;
    border-bottom: 1px solid #e0e0e0;
}

h5.card-header,
.card-header h5,
h6.card-header,
.card-header h6 {
    font-weight: bold;
}

.card-header-link { 
    text-decoration: none;
    color: black;
}

.card-header-link:hover {
    background: #d3eeff55;
}

.card .card-footer {
    background: transparent;
    border-top: 1px solid #e0e0e0;
}

.card .table > thead > tr {
    border-bottom: 1px solid #e0e0e0;
}

.card .table tbody > tr:last-child > td {
    border-bottom: 0;
}

.card .table > thead > tr > th {
    border: 0;
}

.card table tr > td:first-child ,
.card table tr > th:first-child {
    padding-left: 1rem;
}

.card table tr > td:last-child ,
.card table tr > th:last-child {
    padding-right: 1rem;
}

.compact {
    white-space: nowrap;
    width: 1%;
}

ul.pagination {
    margin: 0;
}
