{% extends "layouts/main.html" %}
{% import "ui/forms.html" as forms %}
{% import "ui/components.html" as components %}

{% block content_page %}
{% call components.page_header(breadcrumbs) %}
  {{ _("Edit Source") }}
{% endcall %}

<div class="container">
  {% if impl.SOURCE_TYPE.name == 'WEBHOOK' %}
  <div class="lead-container d-flex w-100 p-3 text-center">
    <main class="mx-auto">
      <h2>{{ _("Your webhook is ready") }}</h2>
      <p>
      {% trans %}
      You'll need to configure the service to use the webhook URL provided below:
      {% endtrans %}
      </p>
      <div class="mb-3">
        <input type="text" class="form-control" id="webhook" readonly value="{{ 
          impl.external_url(source)
        }}">
      </div>
    </main>
  </div>
  {% endif %}

  <div class="card mb-3">
    <div class="card-header">
      <h6 class="card-title mb-0">{{ _("Settings") }}</h6>
    </div>
    <div class="card-body">
      <form method="POST">
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != "hidden" %}
          {{ forms.render_field(field) }}
        {% endfor %}
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">
            {{ _("Save") }}
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-header">
      <h6 class="card-title">{{ _("Logs") }}</h6>
    </div>
    {% if logs.count() %}
    <table class="table table-striped table-small mb-0">
      {{ components.simple_log_table(logs) }}
    </table>
    {% else %}
    <div class="card-body">
      <div class="alert alert-info mb-0">
        {{ _("Nothing has happened yet.") }}
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
