{% extends "no_sidebar.html" %}
{% from "ui/page.html" import render_pagination, link_p %}

{% block style %}
  <style>
  .c-channel {}
  .c-port,
  .c-ssl {
    text-align: center !important;
  }
  </style>
{% endblock %}

{% block content_page %}
  <h3>Channels on {{ network }}</h3>
  <div class="section-content">
    {% if False %}
    <div class="alert alert-info">
      There are no public channels for the network {{ network }}.
    </div>
    {% else %}
    <table class="table table-vertical table-striped table-bordered">
      <thead>
        <tr>
          <th class="c-channel">Channel</th>
          <th class="c-port">Port</th>
          <th class="c-ssl" nowrap>
            <abbr title="Secure Socket Layer">SSL</abbr>
          </th>
          <th>Project</th>
        </tr>
      </thead>
      <tbody>
        {% for channel in pagination.items %}
        <tr>
          <td nowrap>
            <div class="channelname">
              {%- if not channel.public -%}
                <i class="icon-lock pull-left" alt="[This is a private project]" title="This is a private project"></i> 
              {%- endif -%}
              {{ channel.channel }}
            </div>
            <small class="muted">
              added {{ channel.created|pretty_date }}
              {% if can_modify %}
              | <a href="#"><i class="icon-pencil"></i> Edit</a>
              - <a href="#"><i class="icon-remove"></i> Delete</a>
              {% endif %}
            </small>
          </td>
          <td class="c-port">{{ channel.port }}</td>
          <td class="c-ssl">
            <i class="icon-{% if channel.ssl %}ok{% else %}remove{% endif %}"></i>
          </td>
          <td style="width: 100%;">
            {% if channel.project %}{{ repo_link(channel.project) }}{% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {{ render_pagination(pagination, '.network', network=network) }}
    {% endif %}
  </div>
{% endblock %}