{% extends "base/body.html" %}
{% block content %}
<div class="page-main-header">
    <div class="container">
        <h1>Network Events</h1>
    </div>
</div>
<div class="container page-content">
    <div class="row-fluid">
        <div class="span12">
            {% if events.count() == 0 %}
            <div class="alert alert-info">
                No events have yet occured for this channel on this network.
            </div>
            {% else %}
            <table class="table table-square table-hover">
                <thead>
                    <tr>
                        <th>Channel</th>
                        <th>Network</th>
                        <th>Port</th>
                        <th>SSL</th>
                        <th>Message</th>
                        <th>Event</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                    <tr>
                        <td>{{ event.channel|default('-', True) }}</td>
                        <td>{{ event.host }}</td>
                        <td>{{ event.port }}</td>
                        <td><i class="icon-{% if event.ssl %}ok{% else %}remove{% endif %}"></i></td>
                        <td>{{ event.message }}</td>
                        <td>{{ event.event }}</td>
                        <td>
                            {% if event.status == 'ok' %}
                            <span class="text-success">
                            {% elif event.status == 'fatal' %}
                            <span class="text-error">
                            {% elif event.status == 'warning' %}
                            <span class="text-warning">
                            {% else %}
                            <span>
                            {% endif %}
                                {{ event.status }}
                            </span>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}