{% extends "layouts/main.html" %}

{% block content_page %}

<div class="lead-container d-flex w-100 mb-3 text-center">
  <main class="mx-auto">
    <h1>{{ _("Notifico") }}</h1>
    <p>
      {% trans %}
      Notifico is a developer-focused tool that bridges all your favorite tools
      (Github, JIRA, Gitlab, Jenkins, and more) to your favorite chat service.
      {% endtrans %}
    </p>
    {% if not g.user %}
    <p>
      <a class="btn btn-success btn-large" href="{{ url_for('account.register') }}">
        <i class="icon-plus"></i> {{ _("Sign Up") }}
      </a>
    </p>
    <p>
      <small class="muted">
        {% trans login_url=url_for("account.login") %}
        Already have an account? <a href="{{ login_url }}">Login</a> instead.
        {% endtrans %}
      </small>
    </p>
    {% endif %}
  </main>
</div>

<div class="zebra-section">
  <div class="container p-3">
    <div class="row row-cols-1 row-cols-md-3">
      <div class="col">
        <h5>{{ _("100%% Open Source") }}</h5>
        <p class="lead">
          {{ _("Forever available under the MIT license.") }}
        </p>
      </div>

      <div class="col">
        <h5>{{ _("8+ million messages") }}</h5>
        <p class="lead">
          {{ _("Over 8 million messages delivered and counting.") }}
        </p>
      </div>

      <div class="col">
        <h5>{{ _("4000+ projects") }}</h5>
        <p class="lead">
          {{ _("Over 4000 projects, from NASA to CPython.") }}
        </p>
      </div>
    </div>
  </div>
</div>


{#
<div class="row">
  <div class="col">
    <h3>{{ _("Newest Projects") }}</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>{{ _("Created") }}</th>
          <th>{{ _("Name") }}</th>
          <th>{{ _("Messages") }}</th>
        </tr>
      </thead>
      <tbody>
        {% for project in new_projects.items %}
        <tr>
          <td nowrap>{{ project.created|pretty_date }}</td>
          <td class="w-100">
            {{ repo_link(project) }}
          </td>
          <td class="text-center">{{ project.message_count }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a class="btn btn-info" href="{{ url_for('.projects') }}">
      {{ _("See All %(total)s Projects", total=new_projects.total) }}
    </a>
  </div>
  <div class="col">
    <h3>{{ _("Top IRC Networks") }}</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>{{ _("Host") }}</th>
          <th>{{ _("Channels") }}</th>
        </tr>
      </thead>
      <tbody>
        {% for network, count in top_networks %}
        <tr>
          <td class="w-100">{{ network }}</td>
          <td nowrap class="text-center">
            <a href="{{ url_for('.network', network=network) }}">
              {{ count }}
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a class="btn btn-info" href="{{ url_for('.networks') }}">
      {{ _("See All %(total)s Networks", total=total_networks) }}
    </a>
  </div>
</div>
#}
{% endblock %}
