{% extends "base/body.html" %}
{% macro link_p(project) %}
<a href="{{ url_for('projects.overview', u=project.owner.username) }}">
  {{ project.owner.username }}
</a> / <a href="{{ url_for('projects.details', u=project.owner.username, p=project.name) }}">
  {{ project.name }}
</a>
{% endmacro %}

{% block style %}
  {{ super() }}
  <style>
  .metric {
    text-align: center;
  }
  .metric strong {
    display: block;
    font-size: 32px;
    margin-top: 4px;
    margin-bottom: 4px;
    color: #72B626;
  }
  </style>
{% endblock %}

{% block content %}
<div class="container-fluid">
  {% if not g.user %}
  <div class="row-fluid">
    <div class="span12">
      <div class="hero-unit homepage-unit">
        <h1>Notifico<sup>β</sup></h1>
        <p>Notifico is an open-source (<a href="http://en.wikipedia.org/wiki/MIT_License">MIT</a>) replacement for the now-defunct <a href="http://cia.vc">cia.vc</a> service. Notifico receives messages (such as commits and issues) from services and scripts and delivers them to IRC channels.</p>
      <p><a class="btn btn-primary btn-large" href="{{ url_for('account.register') }}">Sign Up</a></p>
      <p><small class="muted">Already have an account? <a href="{{ url_for('account.login') }}">Login</a></small></p>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="row-fluid hidden-phone">
    <div class="span3 metric">
      <section>
        <strong>{{ total_messages }}</strong>
        <small class="muted"># of Messages</small>
      </section>
    </div>
    <div class="span3 metric">
      <section>
        <strong>{{ total_projects }}</strong>
        <small class="muted"># of Projects</small>
      </section>
    </div>
    <div class="span3 metric">
      <section>
        <strong>{{ total_users }}</strong>
        <small class="muted"># of Users</small>
      </section>
    </div>
    <div class="span3 metric">
      <section>
        <strong>{{ total_channels }}</strong>
        <small class="muted"># of Channels</small>
      </section>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span6">
      {# Show recently sent messages from public channels. #}
      <section>
        <header>
          <h2>Newest Projects</h2>
        </header>
        <div class="content">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Created</th>
                <th>Name</th>
                <th>Messages</th>
              </tr>
            </thead>
            <tbody>
              {% for project in public_projects %}
              <tr>
                <td nowrap>{{ project.created|pretty }}</td>
                <td style="width: 100%;">{{ link_p(project) }}</td>
                <td style="text-align: center;">{{ project.message_count }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <a class="btn btn-info" href="{{ url_for('.projects') }}">See All {{ total_projects }} Projects</a>
        </div>
      </section>
    </div>
    <div class="span6">
      <section>
        <header>
          <h2>Top Networks</h2>
        </header>
        <div class="content">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Host</th>
                <th>Channels</th>
              </tr>
            </thead>
            <tbody>
              {% for network, count in popular_networks %}
              <tr>
                <td style="width: 100%;">{{ network }}</td>
                <td  style="text-align: center;">
                  <a href="{{ url_for('.channels', network=network) }}">
                    {{ count }}
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span6">
      <section>
        <header>
          <h2>Top Services</h2>
        </header>
        <div class="content">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Service</th>
                <th>Count</th>
              </tr>
            </thead>
            <tbody>
              {% for service_id, count in popular_services %}
              <tr>
                <td style="width: 100%;">{{ services[service_id].SERVICE_NAME }}</td>
                <td  style="text-align: center;">
                  {{ count }}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>
</div>
{% endblock %}