{% extends "base/body.html" %}
{% from 'page.html' import render_pagination %}

{% macro link_p(project) %}
<a href="{{ url_for('projects.overview', u=project.owner.username) }}">
  {{ project.owner.username }}
</a> / <a href="{{ url_for('projects.details', u=project.owner.username, p=project.name) }}">
  {{ project.name }}
</a>
{% endmacro %}

{% block content %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <section>
        <header>
          <h2>All Projects</h2>
        </header>
        <div class="content">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Created</th>
                <th>Name</th>
                <th>Messages</th>
              </tr>
            </thead>
            <tbody>
              {% for project in pagination.items %}
              <tr>
                <td nowrap>{{ project.created|pretty }}</td>
                <td style="width: 100%;">{{ link_p(project) }}</td>
                <td style="text-align: center;">{{ project.message_count }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {{ render_pagination(pagination, '.projects', **request.args) }}
        </div>
      </section>
    </div>
  </div>
</div>
{% endblock %}