{% extends "base/body.html" %}

{% block style %}
{{ super() }}
<link href="/css/prettify.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block script %}
{{ super() }}
<script type="text/javascript" src="/js/prettify.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  prettyPrint();
})
</script>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <section>
        <header>
          <h2>Services</h2>
        </header>
      </section>
    </div>
  </div>
  {% for service in services.values() %}
    {% if loop.index0 % 2 == 0 %}
    <div class="row-fluid">
    {% endif %}
      <div class="span6">
        <section>
          <header>
            <h2>{{ service.SERVICE_NAME }}</h2>
          </header>
          {{ service.service_description()|safe }}
        </section>
      </div>
    {% if loop.index0 % 2 != 0 %}
    </div>
    {% endif %}
  {% endfor %}
</div>
{% endblock %}