{% macro repo_link(project) %}
{% if not project.public %}
<i class="icon-lock"></i>
{% endif %}
<a href="{{ url_for('projects.dashboard', u=project.owner.username) }}">{{ project.owner.username }}</a>
<span class="muted">/</span>
<a href="{{ url_for('projects.details', u=project.owner.username, p=project.name) }}">{{ project.name }}</a>
{% endmacro %}
{% macro active(end) %}
{% if request.endpoint.startswith(end) %}active{% endif %}
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_title|default('Notifico!') }}</title>
    <link href="/css/bootstrap.min.css?v=4" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    {% block style %}
    {% endblock style %}
    <link href="/css/custom.css?v=4" rel="stylesheet">
  </head>

  <body class="d-flex flex-column min-vh-100 bg-light text-dark">
    <nav class="py-2">
      <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
          <li class="nav-item">
            <a class="nav-link link-dark px-2" href="{{ url_for('public.landing') }}">
              {{ _('Home') }}
            </a>
          </li>
          {% if g.user %}
          <li class="nav-item">
            <a class="nav-link link-dark px-2"
               href="{{ url_for('projects.dashboard', u=g.user.username) }}">
              {{ _('Projects') }}
            </a>
          </li>
          {% endif %}
        </ul>
        <ul class="nav">
          {% if g.user %}
            {% if has_permission(Permission.SUPERUSER) %}
              <li class="nav-item">
                <a class="nav-link link-accent3 px-2" href="{{ url_for('admin.dashboard') }}">
                  {{ _('Admin') }}
                </a>
              </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link link-dark px-2" href="{{ url_for('settings.security') }}">
                {{ _('Settings') }}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-dark px-2" href="{{ url_for('account.logout') }}">
                {{ _('Logout') }}
              </a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link link-dark px-2" href="{{ url_for('account.login') }}">
                {{ _('Login') }}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-dark px-2" href="{{ url_for('account.register') }}">
                {{ _('Register') }}
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="container content">
      {% block content %}
      {% endblock content %}
    </div>
    <div class="footer mt-auto py-3 text-center text-muted container small">
      <div class="row">
        <div class="col">
          Copyright &copy; 2012-2022 <a href="https://tkte.ch">Tyler Kennedy</a>
        </div>
      </div>
    </div>

    <script src="/js/bootstrap.min.js"></script>
    {% block script %}
    {% endblock %}
  </body>
</html>
