{% macro repo_link(project) %}
{% if not project.public %}
<i class="icon-lock"></i>
{% endif %}
<a href="{{ url_for('projects.dashboard', u=project.owner.username) }}">
  {{ project.owner.username }}
</a> / <a href="{{ url_for('projects.details', u=project.owner.username, p=project.name) }}">
  {{ project.name }}
</a>
{% endmacro %}
{% macro active(end) %}
{% if request.endpoint.startswith(end) %}active{% endif %}
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page_title|default('Notifico!') }}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/css/bootstrap.css?v=3" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    {% block style %}
    {% endblock style %}
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% if config.GOOGLE %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ config.GOOGLE }}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    {% endif %}
  </head>

  <body>
    <div class="wrapper">
      <div class="nav-container">
        <div class="container">
          <div class="navbar nav-top">
            <div class="navbar-inner">
              <a class="brand" href="/">Notifico</a>
              <ul class="nav pull-right">
                <li class="{{ active('public.landing') }}">
                  <a href="/"><i class="icon-home"></i> Home</a>
                </li>
                {% if g.user %}
                <li class="{{ active('projects.') }}">
                  <a href="{{ url_for('projects.dashboard', u=g.user.username) }}">
                    <i class="icon-th"></i> Projects
                  </a>
                </li>
                <!-- User settings and actions  -->
                <li class="dropdown {{ active('account.') }}">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <i class="icon-user"></i> {{ g.user.username }} <i class="icon-angle-down"></i> 
                  </a>
                  <ul class="dropdown-menu">
                      <li>
                        <a href="{{ url_for('account.settings') }}">
                          Settings
                        </a>
                      </li>
                      <li>
                        <a href="{{ url_for('account.tokens') }}">
                          OAuth Tokens
                        </a>
                      </li>
                      <li class="divider"></li>
                      <li>
                          <a href="{{ url_for('account.logout') }}">
                              Logout
                          </a>
                      </li>
                  </ul>
                </li>
                {% else %}
                <li>
                  <a href="{{ url_for('account.login') }}">Login</a>
                </li>
                <li>
                  <a href="{{ url_for('account.register') }}">Register</a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="container content">
        {% block content %}
        {% endblock content %}
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <div class="row-fluid">
          <div class="span12 footer-copyright">
            Copyright &copy; <span class="current_year">2013</span> Tyler Kennedy
          </div>
        </div>
      </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/jquery-1.8.3.min.js"><\/script>')</script>
    <script src="/js/bootstrap.js"></script>
    {% block script %}
    <script>
      $(function(){
          // Focus on the username box, but only if
          // the user hasn't already focused on something else.
          if($(document.activeElement).is('body')) {
              $('.focus').focus();
          }

          $('.current_year').text(new Date().getFullYear());
      });
    </script>
    {% endblock %}
  </body>
</html>
