{% macro render_field(field) %}
<div class="control-group {% if field.errors %}error{% endif %}">
    <label for="{{ field.id }}" class="control-label">
        {{ field.label.text }}
        {% if field.flags.required %}
        <span class="required">*</span>
        {% endif %}
    </label>
    <div class="controls">
        {{ field(**kwargs)|safe }}
        {% if field.errors %}
        {% for error in field.errors %}
        <span class="help-inline">{{ error }}</span>
        {% endfor %}
        {% endif %}
        {% if field.description %}
        <span class="help-block" style="color: black;">
            {{ field.description }}
        </span>
        {% endif %}
    </div>
</div>
{% endmacro %}