{% extends "layouts/main.html" %}

{% block content_page %}

<div class="lead-container d-flex w-100 py-4 mb-3 text-center">
  <main class="mx-auto">
    <h1>{{ _("Notifico") }}</h1>
    <p>
      {% trans %}
      Notifico is a developer-focused tool that bridges all your favorite tools
      (Github, JIRA, Gitlab, Jenkins, and more) to your favorite chat service.
      {% endtrans %}
    </p>
    {% if not current_user.is_authenticated and has_permission('can_register', login_required=False) %}
    <p>
      <a class="btn btn-success btn-large" href="{{ url_for('users.register') }}">
        <i class="icon-plus"></i> {{ _("Sign Up") }}
      </a>
    </p>
    <p>
      <small class="muted">
        {% trans login_url=url_for("users.login") %}
        Already have an account? <a href="{{ login_url }}">Login</a> instead.
        {% endtrans %}
      </small>
    </p>
    {% endif %}
  </main>
</div>

<div class="container p-3">
  <div class="row row-cols-1 row-cols-md-3">
    <div class="col">
      <h5>{{ _("100%% Open Source") }}</h5>
      <p class="lead">
        {{ _("Forever available under the MIT license.") }}
      </p>
    </div>

    <div class="col">
      <h5>{{ _("8+ million messages") }}</h5>
      <p class="lead">
        {{ _("Over 8 million messages delivered and counting.") }}
      </p>
    </div>

    <div class="col">
      <h5>{{ _("4000+ projects") }}</h5>
      <p class="lead">
        {{ _("Over 4000 projects, from NASA to CPython.") }}
      </p>
    </div>
  </div>
</div>
{% endblock %}
