{% extends "layouts/main.html" %}

{% block content_page %}
<div class="landing-unit">
  <h1 class="landing-unit-title">Notifico</h1>
  <p class="lead">
    Notifico is an open-source project that relays webhooks from common services to IRC
    networks, such as GitHub, JIRA, Gitea, Jenkins, and Bitbucket.
  </p>
  {% if not g.user %}
  <p>
    <a class="btn btn-success btn-large" href="{{ url_for('account.register') }}">
      <i class="icon-plus"></i> Sign Up
    </a>
  </p>
  <p>
    <small class="muted">
      Already have an account? <a href="{{ url_for('account.login') }}">Login</a> instead.
    </small>
  </p>
  {% endif %}
</div>
<div class="row-fluid">
  <div class="span4">
    <div class="stats-box">
      <div class="stats-value">
        {{ total_messages }}
      </div>
      <span class="muted">Messages Delivered</span>
    </div>
  </div>
  <div class="span4">
    <div class="stats-box">
      <div class="stats-value">
        {{ total_users }}
      </div>
      <span class="muted">Users</span>
    </div>
  </div>
  <div class="span4">
    <div class="stats-box">
      <div class="stats-value">
        {{ total_networks }}
      </div>
      <span class="muted">IRC Networks</span>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="span4">
    <div class="stats-box">
      <div class="stats-value">
        {{ total_projects }}
      </div>
      <span class="muted">Projects</span>
    </div>
  </div>
  <div class="span4">
    <div class="stats-box">
      <div class="stats-value">
        {{ total_channels }}
      </div>
      <span class="muted">Channels</span>
    </div>
  </div>
</div>
<h4>Supported Services</h4>
{% for row in services.values()|slice(3) %}
<div class="row-fluid">
  {% for service in row %}
    <div class="span4">
      {{ service.SERVICE_NAME }}
    </div>
  {% endfor %}
</div>
{% endfor %}
{% endblock %}