{% extends "layouts/main.html" %}

{% block content_page %}
  <div class="text-center py-3">
    <h1 class="display-5 fw-bold">
      Notifico
    </h1>
    <div class="col-lg-6 mx-auto">
      <p class="fs-5 mb-4">
        {% trans url="https://github.com/tktech/notifico" %}
        Notifico is an <a href="{{ url }}">open-source</a> project that relays webhooks from common services to IRC
        networks, such as GitHub, JIRA, Gitea, Jenkins, and Bitbucket.
        {% endtrans %}
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        {% if not g.user %}
        <a class="btn btn-primary btn-lg" href="{{ url_for('account.register') }}">
          {{ _('Sign Up') }}
        </a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 mb-4 g-3">
    <div class="col">
      <div class="p-4 bg-white text-center">
        <div class="stats-value py-1 text-accent1">
          {{ total_messages }}
        </div>
        <span>{{ _('Messages Delivered') }}</span>
      </div>
    </div>
    <div class="col">
      <div class="p-4 bg-white text-center">
        <div class="stats-value py-1 text-accent1">
          {{ total_users }}
        </div>
        <span>{{ _('Users') }}</span>
      </div>
    </div>
    <div class="col">
      <div class="p-4 bg-white text-center">
        <div class="stats-value py-1 text-accent1">
          {{ total_projects }}
        </div>
        <span>{{ _('Projects') }}</span>
      </div>
    </div>
    <div class="col">
      <div class="p-4 bg-white text-center">
        <div class="stats-value py-1 text-accent1">
          {{ services|length }}
        </div>
        <span>{{ _('Supported Services') }}</span>
      </div>
    </div>
    <div class="col">
      <div class="p-4 bg-white text-center">
        <div class="stats-value py-1 text-accent1">
          {{ total_networks }}
        </div>
        <span>{{ _('IRC Networks') }}</span>
      </div>
    </div>
    <div class="col">
      <div class="p-4 bg-white text-center">
        <div class="stats-value py-1 text-accent1">
          {{ total_channels }}
        </div>
        <span>{{ _('IRC Channels') }}</span>
      </div>
    </div>
  </div>
{% endblock %}