{% extends "admin/base.html" %}
{% import "ui/components.html" as components %}
{% import "ui/forms.html" as forms %}
{% from 'ui/page.html' import render_pagination %}


{% block admin_page %}
<section>
  <div class="mb-3">
    <h2>
      {% if user.is_admin %}<i class="fas fa-crown"></i>&nbsp;{% endif -%}
      {{ user.username }}
    </h2>
    <span class="text-muted">
      {{ _("Joined %(when)s", when=user.joined|pretty_date) }}
    </span>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
    <div class="col">
      <div class="card">
        <div class="card-body text-center">
          <strong>{{ user.projects.count() }}</strong>
          <span class="d-block lead">{{ _("Projects") }}</span>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="card mb-3">
  <div class="card-header">
    <h6 class="card-title mb-0">{{ _("User Groups") }}</h6>
  </div>
  <ul class="list-group list-group-flush">
    {% for group in user.groups %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{{ group.edit_url }}">
          {{ group.name }}
        </a>
        {% if group.deletable %}
        <form method="POST">
          <a class="btn btn-danger btn-sm"
            href="{{ url_for(".users_delete_group",
              user_id=user.id,
              group_id=group.id) }}">
          {{ _("Remove") }}
        </a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  <div class="card-footer align-items-center">
    <form method="POST">
      {{ group_form.hidden_tag() }}
      <div class="row">
        <div class="col">
          {{ group_form.group(class_="form-control")|safe }}
        </div>
        <div class="col-auto">
          <button name="add-group" type="submit" class="btn btn-success">
            {{ _("Add Group") }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card mb-3">
  <div class="card-header">
    <h6 class="card-title mb-0">{{ _("User Logs") }}</h6>
  </div>
  <div class="card-body p-0">
    {% if logs.count() %}
    <table class="table table-striped table-small mb-0">
      <thead>
        <tr>
          <th>{{ _("Severity") }}</th>
          <th>{{ _("When") }}</th>
          <th>{{ _("Summary") }}</th>
        </tr>
      </thead>
      <tbody>
        {% for log in logs %}
        <tr class="table-{{ components.log_to_suffix(log) }}">
          <td class="compact">
            <code>{{ log.severity.name }}</code>
          </td>
          <td class="compact">{{ log.created|pretty_date|capitalize }}</td>
          <td>
            <a class="text-decoration-none" href="{{ log.admin_get_url }}">
              <code>
                {{ _(log.summary, **log.payload) }}
              </code>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div class="alert alert-info mb-0">
      {{ _("Nothing has happened yet.") }}
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
