{% extends "admin/base.html" %}
{% import "ui/components.html" as components %}
{% import "ui/forms.html" as forms %}
{% from 'ui/page.html' import render_pagination %}


{% block sidebar %}
<div class="p-2 mb-3">
  <span class="fs-4">{{ _("Filters") }}</span>
  <form method="GET">
    {{ form.hidden_tag() }}
    {{ forms.render_floating_field(form.group) }}
    <button type="submit" class="btn btn-primary mt-3">
      {{ _("Search") }}
    </button>
  </form>
</div>
{% endblock %}


{% block admin_page %}
<div class="card">
  <div class="card-body p-0">
    <table class="table align-middle mb-0">
      <thead>
        <tr>
          <th>{{ _("Username") }}</th>
          <th class="compact">{{ _("Joined") }}</th>
          <th class="compact text-center">{{ _("Projects") }}</th>
          <th class="compact text-center">{{ _("Options") }}</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users.items %}
        <tr>
          <td>
            {% if user.is_admin %}<i class="fas fa-crown"></i>&nbsp;{% endif -%}
            <a href="{{ user.admin_edit_url }}"
               title="{{ _("Edit User") }}">{{ user.username }}</a>
          </td>
          <td class="compact">
            {{ user.joined|pretty_date }}
          </td>
          <td class="compact text-center">
            {{ user.projects.count() }}
          </td>
          <td class="compact text-center px-3">
            {# Cannot delete admins! #}
            {% if not user.is_admin %}
            <a class="btn btn-danger btn-sm"
              href="{{ url_for('.users_delete', user_id=user.id) }}">
              {{ _("Delete") }}
            </a>
            {% else %}
            <button class="btn btn-danger btn-sm" disabled>
              {{ _("Delete") }}
              </a>
              {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    {{ render_pagination(users, '.users') }}
  </div>
</div>
{% endblock %}
