{% macro active(end) %}
{% if request.endpoint.startswith(end) %}active{% endif %}
{% endmacro %}

<div id="site-navbar" class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="{{ active('public.landing') }}">
            <a href="{{ url_for('public.landing') }}">Home</a>
          </li>
          {% if not g.user %}
          <li class="{{ active('account.login') }}">
            <a href="{{ url_for('account.login') }}">Login</a>
          </li>
          <li class="{{ active('account.register') }}">
            <a href="{{ url_for('account.register') }}">Register</a>
          </li>
          {% else %}
          <li class="{{ active('projects.') }}">
            <a href="{{ url_for('projects.overview', u=g.user.username) }}">Projects</a>
          </li>
          {% endif %}
        </ul>
        {% if g.user %}
        <ul class="nav pull-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {{ g.user.username }}
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li>
                  <a href="{{ url_for('account.settings') }}">
                    Settings
                  </a>
                </li>
                <li>
                  <a href="{{ url_for('account.tokens') }}">
                    OAuth Tokens
                  </a>
                </li>
                <li>
                    <a href="{{ url_for('account.logout') }}">
                        Logout
                    </a>
                </li>
            </ul>
          </li>
        </ul>
        {% endif %}
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>