{% extends "layouts/main.html" %}
{% import "ui/forms.html" as forms %}

{% block content_page %}
  <h6 class="display-6 py-3 fw-bold">
    {{ _("Login") }}
  </h6>
  <div class="card mt-4 constrained-500">
    <div class="card-body">
      <div class="card-text">
        <form method="POST">
          {{ form.hidden_tag() }}
          {{ forms.render_field(form.username) }}
          {{ forms.render_field(form.password) }}
          <button type="submit" class="btn btn-primary btn-lg w-100">
            <i class="icon-signin"></i> Login
          </button>
          <div class="py-2 small text-muted">
            Don't have an account yet?
            <a href="{{ url_for('.register') }}">
              Sign up.
            </a>
          </div>
          {% if config.PASSWORD_RESET %}
          <br />
          <small class="muted">
            <a href="{{ url_for('.forgot_password') }}">Lost your password?</a>
          </small>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}